/* Elemets */
body {
  padding-top: 70px;
}
section {
  padding: 32px 0;
}
/* Elemets */

/* Regole Base */
.ms_section-primary {
  background-color: #1abc9c;
  color: white;

}
.ms_section-secondary {
  color: #2c3e50;;
}
.ms_section-secondary .ms_section-titol {
  color: #333;
}
/* Regole Base */

/* Components */
.ms_navbar {
  background-color: #2c3e50;
  padding-top: 70px;
}

.ms_jumbotron {
  background-color: #1abc9c;
  text-align: center;
  color: white;
  padding: 32px 0;
}
/* Portfolio */
.ms_portfolio-item {
  background-color: #ba4b63;
  height: 388px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.ms_portfolio {
   text-align: center;
}
/* About */
.ms_wrapper {
  width: 60%;
  margin: 0 auto;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .ms_jumbotron {
    padding-top: 40px 0;
  }
}
